// susy общие настройки
$susy: (
	columns: 12,
	gutters: 0,
	// container: 960px,
	math: fluid,
	global-box-sizing: border-box,
	debug: (image: show)
);

@include border-box-sizing;

// Grid (сетка)

.main-wrapper,
.main-content {
  @include container();
}
