// susy общие настройки
$susy: (
	columns: 12,
	gutters: 0,
	// container: 960px,
	math: fluid,
	global-box-sizing: border-box,
	debug: (image: hide)
);

// @include border-box-sizing;

// Grid (сетка)

.main-wrapper,
.main-content,
.gallery__items,
.instruments,
.techlogo__container {
  @include container();
}

.gallery__block {
	@include span(3);
}

.techlogo__item {
	@include span(4);
}
