// susy общие настройки
$susy: (
	columns: 12,
	gutters: .3333,
	container: 960px,
	global-box-sizing: border-box,
	debug: (image: show)
);

// Grid (сетка)

.main__wrapper {
  @include container();
}
