.main-sidebar {
  width: 420px;
  background: $main-color;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 70px;
  min-height: 100vh;
}

.logo__wrapper {
  margin-bottom: 20px;
}

.logo-avatar {
  height: 180px;
  width: 180px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid #414661;
}
.link-logo {
  color: #fff;
  text-decoration: none;
}

.portfolio-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem(30px);
}

.green-color {
  color: $hover;
}

.social {}

.social-icon,
.social__item {
  margin: 0;
  padding: 0;
}

.social__item {
  list-style: none;
  @include inlineblock;
  background: #fff;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: 5px;

  &:hover {
    background: $hover;
  }
}

.social__link {
  color: $main-color;
  display: block;
  font-size: 18px;
}
