@import "bourbon";

$default-font: "lato", sans-serif;
$icon: "FontAwesome";


// Colors
$main-color: #222533;
$galery-color: #30323f;
$hover: #29d9c2;


// Mixin

// Classic clearfix
@mixin cf {
	&::after {
		content:"";
		display: table;
		clear: both;
	}
}

// inline block
@mixin inlineblock ($valine: middle) {
	display: inline-block;
	vertical-align: $valine;
}

//responsive (rem)
@function rem($px) {
  @return $px / 16px + 0rem;
}
