@import "bourbon";

$default-font: "lato", sans-serif;
$title-font: "raleway", sans-serif;
$icon: "FontAwesome";


// Colors
$main-color:   #222533;
$galery-color: #30323f;
$hover:        #29d9c2;
$grey:         #6e7f8a;
$l-grey:       #98a4ad;
$red:          #ef584d;


// Mixin

// Classic clearfix
@mixin cf {
	&::after {
		content:"";
		display: table;
		clear: both;
	}
}

// inline block
@mixin inlineblock ($valine: middle) {
	display: inline-block;
	vertical-align: $valine;
}

//responsive (rem)
@function rem($px) {
  @return $px / 16px + 0rem;
}
